<form [formGroup]="addSongs" (ngSubmit)="isUpdate ? updateData() :saveData()">
  <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title">Add Detail</h4>
              </div>
              <div class="modal-body">

                  <div class="m-2">
                      <label for="desc">Title:</label><br>
                      <input id="desc" name="desc" value="" rows="2" placeholder="title"
                          class="form-control w-100" required name="title" formControlName="title">
                  </div>

                  <div class="m-2">
                      <label for="desc">Genre</label><br>
                      <input id="desc" name="desc" value="" rows="2" placeholder="genre"
                          class="form-control w-100" required name="genre" formControlName="genre">
                  </div>
                  <div class="m-2">
                    <label for="desc">Singer Name</label><br>
                    <input id="desc" name="desc" value="" rows="2" placeholder="singerName"
                        class="form-control w-100" required name="singerName" formControlName="singerName">
                </div>

                  <!-- <div class="m-2">
                      <video [src]="url" *ngIf="format==='video' && url" height="200" width="200" controls></video>
                      <br />
                      <input type='file' (change)="onSelectFile($event)" />
                  </div> -->

                  <div class="m-2">
                      <button class="btn btn-success" (click)="closePopup()">Submit</button>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-danger" (click)="closeModal()">
                      Close
                  </button>
              </div>
          </div>
      </div>
  </div>
</form>


<!-- Modal end here -->
<div class="card main-card mb-3">
 

  <div class="table-responsive">

    <h3 class="text-center"> Song Content </h3>
    <br>

    <div class="form-outline">
        <button class="btn Add-btn" (click)="openPopup()">Add Songs</button>
        <input type="search" id="form1" class="form-control" placeholder="Search" [(ngModel)]="searchText" />
    </div>
      <br>
      <table class="table table-bordered" id="employeedataTable">
          <thead>
              <tr>
                  <th scope="col">#</th>
                  <th scope="col">Title</th>
                  <th scope="col">Description</th>
                  <th scope="col">Singer Name</th>
                  <th scope="col">Action</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let song of songs| paginate:{
                itemsPerPage: tableSize,
                currentPage: page,
                totalItems: count
              }|filter:searchText; index as i">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>{{song.title}}</td>
                  <td>{{song.genre}}</td>
                  <td>{{song.singerName}}</td>

                  <td class="btn-group m-2">
                    <a class="btn  btn-sm group" (click)="updateView(song)"><i></i>Edit</a> &nbsp;
                    <a class="btn btn-sm group" (click)="dellUser(song._id)"><i></i>Delete</a>
                </td>
              </tr>
          </tbody>
      </table>
      <div class="d-flex justify-content-center">
        <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
        </pagination-controls>
      </div>
  </div>
</div>
