.main {
    background-image: url('../../assets/THT2022_inner_register_bkg_page_01.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-left: 18rem;
    width: 60%;
    padding: 20rem;
}

.login {
   color: white;
}

.ran{
    color: white;
}

.ran:hover{
    color: white;
}
.form-control {
    width: 300%;
}
