<div class="main">
  <div class="container">

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h2 class="login"><b>Login</b></h2>
      <div class="mb-3 mt-3 ran">
        <label for="email"><b>Email</b></label>
        <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter email"
          name="email">
          <span class="text-danger" *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required','email')"> Email id is required </span>
      </div>
      <div class="mb-3 mt-3 ran">
        <label for="password"><b>Password</b></label>
        <input type="password" class="form-control"  id="password" formControlName="password" placeholder="Enter password"
          name="password">
          <span class="text-danger" *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')"> Password is required </span>
      </div>
      <button  type="submit" [disabled]="!loginForm.valid" class="btn btnSubmit">Submit</button>
      <div class="endText">
        Don't have an account?
        <a routerLink="/signup" class="btn  ran">Register Here</a>
      </div>
    </form>
  </div>
</div>
