
<div class="container mt-3">
    <h2 class="text-center">Update Details</h2>
    <form [formGroup]="Update" (ngSubmit)="updateData()">
    <div class="mb-3 mt-3">
        <label for="name">Name:</label>
        <input type="name" class="form-control" id="name" formControlName="name" placeholder="Enter name" name="name">
      </div>
      <div class="mb-3 mt-3">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter email" name="email">
      </div>
       <div class="mb-3 mt-3">
        <label for="role">Role:</label>
        <select name="role" id="role" class="form-control" formControlName="role" >
            <option value=""></option>
            <option value="angular">Angular Developer</option>
            <option value="react">React Developer</option>
            <option value="flask">Flask Developer</option>
            <option value="python">Python Developer</option>
          </select>
      </div>
       <div class="mb-3 mt-3">
        <label for="contact">Contact:</label>
        <input type="contact" class="form-control" id="contact" formControlName="contact" placeholder="Enter contact" name="contact">
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
      
    </form>
  </div>
  