.button {
    margin-left: 49rem;
}

.table-responsive {
    padding: 1rem;
}

.add-user {
    margin-left: -48rem;
    margin-top: 1rem
}

.add-user {
    background-color: #0d8ea1;
    margin-left: 1rem;
    color: white;
}

.add-user:hover{
    background-color: #0d8ea1;
    color:white;
}

.form-outline {
    display: flex;
    justify-content: space-between;
}



.text-center {
    margin: 0;
    margin-right: 10rem;
    font-size: 35px;
}

.mt-5 {
    margin-top: 2rem !important;
}

.form-control {
    flex-basis: 20%;
    height: 40%;
    margin-right: 1rem
}

.table-bordered{
    text-align: center;
}

/* .edit{
    color:white
} */

.edit-btn:hover{
    background-color: #0d8ea1;
}

.danger:hover{
    background-color: #f54744;

}

.btn-group{
    margin-top: 1rem;
}