.button{
    margin-left: 49rem;
}

.table-responsive{
    padding: 1rem;
}

.add-user{
    margin-left: -48rem;
    margin-top: 1rem
}

.same-btn{
 background-color: #0d8ea1;

}

.same-btn:hover{
    background-color: #0d8ea1;
   
   }