.video{
    height: 80px;
    width: 80px;
}

.table-responsive{
    padding: 1rem;
}

.same-btn{
background: #0d8ea1;
margin-left: 1rem;
}

.same-btn:hover{
    background-color: #0d8ea1;   
}

.form-outline{
    display: flex;
    justify-content: space-between;
}

.text-center{
    margin-top: 2rem;
    margin-right: 4rem;
    font-size: 35px;
}

.form-control{
    flex-basis: 20%;
}

.table-bordered{
    text-align: center;
}